@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 930px) {
  #navegacion label svg {
    display: none;
  }
  #navegacion .items {
    display: none;
  }
  #navegacion .perfil {
    width: 50px;
    margin-right: 10%;
  }
  #navegacion .logo {
    margin-left: 10%;
    width: 20%;
    justify-content: flex-start;
  }
  #navegacion .itemsMenu {
    width: calc(60% - 50px);
    justify-content: flex-end;
    padding-right: 20px;
  }
}
@media screen and (max-width: 929px) {
  #navegacion .itemsMenu {
    display: none;
  }
}
